/* ======================================================
# Web357 Framework for Joomla! - v1.7.7 (Free version)
# -------------------------------------------------------
# For Joomla! CMS
# Author: Web357 (Yiannis Christodoulou)
# Copyright (©) 2009-2019 Web357. All rights reserved.
# License: GNU/GPLv3, http://www.gnu.org/licenses/gpl-3.0.html
# Website: https:/www.web357.com/
# Demo: https://demo.web357.com/joomla/web357framework
# Support: support@web357.com
# Last modified: 10 Jun 2019, 19:20:09
========================================================= */

.icon-monthlyarchive:before {
	content: "\e242";
}
.icon-vmsales:before {
	content: "\e242";
}
.w357-display-inline-block {
	display: inline-block !important;
}

/************* Extension Icons at the Backend *************/
.icon-48-loginasuser,
.icon-loginasuser {
	background-image: url("../icons/loginasuser.png");
}

/************* Extension's Information *************/
.w357 .btn {
	margin-bottom: 5px;
	/* padding:  0; */
	/* margin:  0; */
}
.w357.com_vmsales .span9,
.w357.com_monthlyarchive .span9 {	
	margin-left: 0px;
}
.w357_ext_uptodate {
	color: #34495e;
	font-weight: 700;
	font-size: 14px;
	border: 2px solid #e1edea;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: #f1f9f7 url("../images/tick.png") no-repeat 15px 18px;
	padding: 15px 15px 15px 50px;
	line-height: 22px;
	width: 565px;
	clear: both;
	text-align: left;
}

.w357_ext_uptodate.com_vmsales,
.w357_ext_uptodate.com_monthlyarchive {
	width: auto !important;
}
	
.w357_ext_uptodate_j25 {
	margin: 15px 0 50px 0;
}
.w357_ext_uptodate_j3x {
}

.w357_ext_notuptodate  {
	color: #e74c3c;
	font-weight: 700;
	font-size: 14px;
	margin: 15px 0 0 0;
	border: 2px solid #e1edea;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	background: #f1f9f7 url("../images/alert.png") no-repeat 15px 18px;
	padding: 15px 15px 15px 50px;
	line-height: 22px;
	text-align: left;
}
.w357_ext_notuptodate.com_vmsales,
.w357_ext_notuptodate.com_monthlyarchive {
	width: auto !important;
}
	
.w357_ext_notuptodate a {
    border-bottom: 1px dotted #999;
    text-decoration: none;
}
.w357_ext_notuptodate a:hover {
    border-bottom: 1px dotted orange;
    text-decoration: none;
}
/************* Params *************/
.free,
.pro {
	cursor: pointer;
}
.w357frm_param_header label {
	font-weight: 700;
	color: #fff;
	clear: both;
	display: block;
	width: 600px !important;
	max-width: 600px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 10px 0 0 0;
	padding: 15px 20px !important;
	background: #0B55C4;
	font-size: 17px;
	border-width: 1px;
	border-style: solid;
}
.w357frm_param_header.com_config label,
.w357frm_param_header.com_plugins label {
	width: 600px;
}
.w357frm_param_header.com_vmsales label,
.w357frm_param_header.com_monthlyarchive label {
	width: auto !important;
}

/* large header */
.w357frm_param_header.w357_large_header label { }

/* small header */
.w357frm_param_header.w357_small_header label {
	margin: 0 0 5px 0;
	padding: 8px 20px !important;
	background-color: transparent;
	font-size: 14px;
	color: #0B55C4;
	border-color: #0B55C4;
	border-style: dotted;
}

/* extra small header */
.w357frm_param_header.w357_xsmall_header label {
	margin: 0;
    padding: 8px 0px !important;
    font-size: 13px;
    background: none;
    color: #000;
    font-weight: 700;
    border: none;
}

/* for j25x */
.w357frm_param_header.vj25x {
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
}

/************* Item's Description *************/
.w357_item_full_desc {
	margin: 30px 0 0 10px;
	text-align: left;
}
.web357framework-desc-img {
	margin-bottom: 20px;
	overflow: hidden;
}
.web357framework-desc-btn {
    display: inline-block;
    margin: 0 0 5px 10px;
}
.w357_item_full_desc iframe {
	width: 600px !important;
}

/************* Responsive *************/
@media(max-width:1100px){
	.w357_ext_uptodate,
	.w357frm_param_header label {
		width: auto !important;
	}
}

/************* Screenshots of fields *************/
.w357_screenshot_modal {
	 margin-top: 15px;
}
.w357_screenshot_modal_free {
	position: relative;
	top: -40px;
	left: 220px;
}
.w357-display-inline-block {
	display: inline-block;
}

/************* JED review *************/
.w357frm_leave_review_on_jed {
	margin-top: 20px;
}

/************* CSS fix after J! 3.7.3 update *************/
.form-horizontal .control-label {
	width: auto !important;
}

/************* About *************/
.web357framework-about-text {
	margin-bottom: 25px;
}
.web357framework-about-heading {
	font-weight: 700;
    margin-bottom: 10px;
    font-size: 130%;
}
.web357framework-about-social-icons {}
.web357framework-about-social-icons a img {
	margin-right: 20px;
}

/************* Disable textarea resizing for specific parameter fields *************/
#jform_params_apikey {
	width: 400px !important;
	resize: none;
}

/************* Joomla! 2x *************/
/************* Fix grid issues in Joomla! 2.5 for the description.php element *************/
.v2x {
	line-height: 24px;
}
.v2x ul li {
    list-style-position: inside !important;
	list-style: disc !important;
}
.v2x .span3 
{
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
}
.v2x .btn {
	background-color: #ccc; /* Green */
    border: none;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
}
.v2x .btn:hover {
	background-color: #999; /* Green */
}
.v2x .span3 p {
	margin: 0;
}
.v2x hr {
	display: none;
}

/************* Joomla! 3x *************/
.container.v3x.com_plugins {
	margin: 30px !important; 
}

/************* Joomla! 4x *************/
.tab-content .control-group .control-label {
	width: auto;
}
.tab-content .form-text {
	display: none !important;
}

/************* Product Info *************/
.w357-product-info-buttons a {
	margin: 0 8px 8px 0;
}
/* fix responsive issues */
@media (max-width: 1500px){
    .w357-col-span.span3, 
    .w357-product-info-buttons {
        text-align: center !important;
    }
    .w357-col-span.span3,
    .w357-col-span.span9 {
       float: none !important;
       width: 100% !important;
       margin-left: 0 !important;
    }
}

/************* Footer *************/
.w357-footer {
	margin-top: 30px;
}
.alert.w357-free-version-alert {
	padding: 15px;
}
.w357-footer div {
	text-align: center;
}
.w357-footer .w357-footer-extension img {
	vertical-align: center;
	margin-right: 5px;
}
.w357-footer .w357-footer-logo {
	margin-top: 30px;
	margin-bottom: 10px;	
}
.w357-footer .w357-footer-logo img {
	vertical-align: center;
}
.w357-footer .w357-footer-copyright {
	margin-top: 10px;
	font-size: .9em;
	letter-spacing: 1px;
	color: #999;
}