// Items
div.itemView {
    background: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 3px;

    div.itemTagsBlock {
        margin: 2.5rem 0;
        ul.itemTags {
            li {
                display: inline;
                margin-right: 1rem;
                a {
                    padding: 1rem;
                    border: 1px solid;
                    &:hover {
                        background: $midBlue;
                        color: #fff;
                        border: unset;
                    }
                }
            }
        }
    }

    div.itemAuthorBlock {
        background: $paperWhite;
        padding: 1rem;
    }
    div.itemAuthorLatest {
        margin: 2rem 0;
    }
}

// Categories
div.itemListView {
    div.itemContainer {
        background: #fff;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 3px;

        div.catItemHeader {
            margin-bottom: 0.5rem;
        }
        div.catItemBody {
            justify-content: space-between;
            div.catItemImageBlock {
                // padding-right: 1rem;
                span.catItemImage {
                   img {
                       padding-bottom: 1rem;
                    }
                }
            }
            div.catItemIntroText {
                p:first-child {
                    margin-top: 0;
                }
            }
        }        
    }
    
}
