// Latest
.home-latest {
    background: #fff;
    padding: 0.5rem;
    .latest-items {
        margin-top: 1rem;
        justify-content: space-between;
        .latest-item {
            margin-bottom: 2.5rem;
        }
    }
}

// Showcase Featured Articles
.showcase-featured {
   img {
       float: left;
       padding-right: 1rem;
   }
} 

// Date
.g-date {
    margin-top: 0.4rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #ddd;
    text-align: center;
    padding: 0.2rem;
}
// Footer-menu 
.footer-menu {
    .item {
        margin: 0.75rem 0;
    }
}

// Footer latest
.footer-latest {
    margin-top: 1rem;
    margin-top: 1rem;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 0 1rem;
    .item {
        margin: 0.75rem 0;
    }
}

// Sidebar
.sidebar {
    background: #fff;
    padding: 0.5rem;
    .item {
        margin-bottom: 1rem;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 0.5rem;
    }
}