/******** Custom scss file ********/
@import "dependencies";
@import "variables";
@import "particles";
@import "k2";
@import "modules";
@import "slideshow";

/****** Colors ******/


/****** Typography ******/
h3 {
    margin: 0.6rem 0;
}
h4 {
    margin: 0.5rem 0;
}
p{
    font-size: 1.12rem;
    margin: 1rem 0;
}


/****** Header ******/
#g-header {
    .g-container {
        width: 95%;
        .g-content {
            padding: 0;
            margin: 0.5rem 0;
        }
    }
}

/****** Navigation ******/


/****** Showcase ******/
#g-showcase {
    .g-container {
        background: #fff;
        border-radius: 4px;
        .showcase-a {
            box-shadow: 2px 0px #f0f0f0;
        }
        h3 {
            font-size: 1.7rem;
            margin: 0 0 1.7rem;
        }
        a {
            color: $darkBlue;
        }
    }
    
}

/****** Feature ******/
#g-feature {
    .g-container {
        .g-content {
            padding: 0;
        }
    }
}

/****** Main ******/


/****** Subfeature ******/


/****** Footer ******/
#g-footer {
    a {
        color: #fff;

    }
    .g-powered-by {
        &:hover {
            color: $openBlue2;
        }
    }
}


/****** Contact ******/




/****** Media Queries ******/


// Typical values are the default breakpoints set in Gantry 5
// but these values are user definable in style settings
// so that is why the code below uses mixins to get the actual 
// values from Gantry 5 template.

// commonly used media queries

//  typically min 75rem 
@include breakpoint(large-desktop-range) {

}
// typically range 60rem to 74.938rem 
@include breakpoint(desktop-range) {

}

// typically 48rem to 59.938rem
@include breakpoint(tablet-range) {

}
// typically 30rem to 47.938rem
@include breakpoint(large-mobile-range) {

}
// typically max 30rem
@include breakpoint(small-mobile-range) {

}

// Less commonly used media queries

// typically min 60rem
@include breakpoint(desktop-only) {

}
// typically min 48rem
@include breakpoint(no-mobile) {

}
// typically max 47.938 rem
@include breakpoint(mobile-only) {

}
// typically max 59.938rem
@include breakpoint(no-desktop) {

}

// Mobile Menu Breakpoint
@media only all and (max-width: $breakpoints-mobile-menu-breakpoint) { }

@import "nucleus/mixins/breakpoints"