/* ======================================================
# Display Date and Time for Joomla! - v2.3.2 (Free version)
# -------------------------------------------------------
# For Joomla! CMS
# Author: Web357 (Yiannis Christodoulou)
# Copyright (©) 2009-2019 Web357. All rights reserved.
# License: GNU/GPLv3, http://www.gnu.org/licenses/gpl-3.0.html
# Website: https:/www.web357.com/
# Demo: https://demo.web357.com/joomla/datetime
# Support: support@web357.com
# Last modified: 10 Jun 2019, 19:20:09
========================================================= */

.mod_datetime { 
    padding: 0;
    margin: 0;
}
.mod_datetime_date {}
.mod_datetime_time {}